h1 {
  font-family: 'Noto Serif JP', serif;
}
.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: default;
}


.navbar-brand strong {
  font-size: 35px;
  margin-left: 15em;
  cursor: default;
  font-family: 'Noto Serif JP', serif;
}

.card-img-top {
  height: 225px; 
  object-fit: cover; 
}

.bg-personalizado {
  background-color: #348669; 
}

/* -------------------------------------------------------- */
.animated-button {
  text-decoration: none;
  border: none;
  font-size: 16px;
  position: absolute;
  top: 30px;
  right: 300px;
  display: inline-block;
  padding: 12px 24px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: #ffffff40;
  box-shadow: 0 0 0 2px #ffffff20;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.animated-button span:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #348669;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}

.animated-button span:first-child {
  position: relative;
  z-index: 1;
}

.animated-button:hover {
  box-shadow: 0 0 0 5px #25644e;
  color: #ffffff;
}

.animated-button:active {
  scale: 0.95;
}

.animated-button:hover span:last-child {
  width: 150px;
  height: 150px;
  opacity: 1;
}

/* -------------------------------------------------------- */
.input[type="text"] {
  display: block;
  color: rgb(34, 34, 34);
  background: linear-gradient(142.99deg, rgba(217, 217, 217, 0.63) 15.53%, rgba(243, 243, 243, 0.63) 88.19%);
  box-shadow: 0px 12px 24px -1px rgba(0, 0, 0, 0.18);
  border-color: rgba(7, 4, 14, 0);
  border-radius: 50px;
  block-size: 20px;
  margin: 27px auto;
  padding: 24px 15px;
  outline: none;
  text-align: center;
  width: 500px;
  transition: 0.5s;
}

.input[type="text"]:hover {
  width: 540px;
}

.input[type="text"]:focus {
  width: 580px;
}
/*--------------------------------------------------*/
.styled-button {
  --color: #25644e;
  font-family: inherit;
  display: inline-block;
  width: 6em;
  height: 2.6em;
  line-height: 2.5em;
  overflow: hidden;
  margin: 20px;
  font-size: 17px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 6px;
  position: relative;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
}

.perso{
  background-color: #198754;
  color: #ffffff;
  border: none;
  border-radius: 0.3em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  transition: .3s;
}
.perso:hover {
  color: white;
  background-color: #2e725c;
  transform: scale(1.1);
}


.styled-button::before {
  position: absolute;
  content: "";
  background: var(--color); /* Color del pseudo-elemento */
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
  transition: transform 0.3s ease; /* Añadido para la animación del pseudo-elemento */
  transform: scale(0);
}



.styled-button:before {
  top: 100%;
  left: 100%;
  transition: .3s all;
}

.styled-button:hover::before {
  top: -30px;
  left: -30px;
  transform: scale(1);
}

/* ------------------------------ */
.styled-button {
  --color: #25644e;
  font-family: inherit;
  display: inline-block;
  width: 6em;
  height: 2.6em;
  line-height: 2.5em;
  overflow: hidden;
  margin: 20px;
  font-size: 17px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 6px;
  position: relative;
}

.styled-button::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}

.styled-button:hover {
  color: white;
}

.styled-button:before {
  top: 100%;
  left: 100%;
  transition: .3s all;
}

.styled-button:hover::before {
  top: -30px;
  left: -30px;
}
.card-img-top {
  height: 225px; 
  object-fit: cover; 
}

.mi-enlace {
  text-decoration: none;
  color: #000000;
}
.filtro{
  display: none;
}
